.main {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #48a4ef 0%, #376bda 100%);
}
.login-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -225px);
    overflow: hidden;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    /* -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 1px lightgray; */
    padding: 10px;
    background: #dff9fb;
    z-index: 1;
}
.box {
    width: 360px;
    height: 360px;
    padding: 60px 30px 30px 30px;
    /*定位方法*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #2d3436;
    border-radius: 20px;
}
.box h2 {
    color: white;
    font-weight: 400;
}
.box input[type="text"],
.box input[type="password"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    border-radius: 24px;
    outline: none;
    padding: 10px 10px;
    width: 200px;
    color: white;
    transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
    border-color: #27ae60;
    width: 250px;
}
.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #27ae60;
    border-radius: 24px;
    outline: none;
    padding: 14px 10px;
    width: 100px;
    height: 50px;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover {
    background: #27ae60;
}
.box .text-foot {
    line-height: 40px;
    text-align: center;
    color: white;
}